<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections></configSections>
	<connectionStrings>
		<add name="StudentDATABASE" connectionString="Data Source=NLTI155\SQLEXPRESS;Initial Catalog=Studentdata;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="Unprocessed" value="D:\StudentData\Unprocesssed\StudentMarks.csv"/>
		<add key="Processed" value="D:\StudentData\Processed\"/>
		<add key="Error" value="D:\StudentData\ErrorFolder\"/>
	</appSettings>
</configuration>